{% extends 'base.html' %}
{% block content %}
    <h1 style='color:blue'>ABOUT GROUP 8</h1>
    <p><h2 style='color:brown'>We are students at LU</h2></p>
    <p><h2 style='color:brown'>Group members are:</h2></p>
    <p><h2 >Rudhra Raghav</h2></p>
    <p><h2 >Ahmad Muhiuddin</h2></p>
    <p><h2 >Webb Stephen</h2></p>
    <p><h2 >Faldu Bhavya Kantilal</h2></p>
<p><h2 style='color:brown' >Job allocationc </h2></p>
<p>   We have successfully able to communicate with WhatsApp. Due to current condition
    it has been very difficult for all of us to come together and have a productive conversation.
    We are committed to improve our communication so we can have a better leering experience
    and better work share.

</p>

<p>
    Muhiuddin Ahmad initially send a email and messages to all group members and
    Rudhra Raghav was able to setup a WhatsApp group to start the discussion.
    We have been in communication and in the process of breaking down the project so everyone
    can contribute to the project.

</p>

{% endblock %}
